body {
	margin: 0;
	font-size:22px;
	color: #000000;
	word-wrap:break-word !important;
	font-family: Arial, Helvetica, sans-serif;
	}
main{
        border-left: inset;
        border-right: inset;
        border-right-width: 30px;
        border-left-width: 30px;
        border-right-color: #007a7c ;
        border-left-color: #007a7c ;
}
main #pj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
h1{
    display: inline-block;
    text-align: center;
    font-size: 100px;
    margin-left: 10%;
    margin-right: 5%;
}
h2{
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
}
header {
    display:flex;
    text-align: center;
    padding: 10px;
    background-color: lightgrey;
    border-color: #007a7c ;
    border-style: groove;
    border-width: 30px;
    margin-bottom: 2%;
    
}

.moi {
    margin-left: 30px;
}
.act{
    margin-left: 7%;
    margin-bottom: 10%;
    margin-right: 5%;
}

footer {
    background-color: lightgrey;
    text-align: center;
   
}
.Banner {
    margin-top: 2%;
    margin-bottom:3%;
    max-width: 100%;
    max-height: 50%;
}

.act1{
    display: flex;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
.act1 > p {
    justify-content: flex-end;
    margin-left: 25px;
}
.cpt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn {
    width: 100%;
    margin-top: 5%;
    background-color: #007a7c;
    text-align: center;
  }

footer > section{
    font-size:22px;
    margin-top: 0.5px;
    display :flex;
    text-align: center;
    justify-content: space-around;
 
}
footer > section > ul > li{
    margin: 1.5%;
}
li {
    list-style-type: none;

    }
a:link{
    text-decoration:underline;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}